@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


:root{
    /* color */
    --black-green: hsl(150, 15.38%, 20.39%);
    --dark-jungle-green: hsl(176, 24.59%, 11.96%);
    --camel:hsl(38, 36, 55) ;
    --light-tupe: hsl(29.54, 28.63%, 55.49%);
    --white: hsla(0, 0%, 100%, 1);
    --old-lace: hsl(30, 85, 95);
    --smoky-black-1: hsla(40, 12%, 5%, 1);
    --smoky-black-2: hsla(30, 8%, 5%, 1);
    --smoky-black-3: hsla(0, 3%, 7%, 1);
    --Provincial-Pink: hsl(27, 82, 98);
    

       
       /*update*/
       /*text*/
       --soft-off-white:  hsl(38, 36%, 96%);
       /*background*/
       --deep-forest-green:  hsl(168, 36%, 17%);
       /*buttton*/
       --muted-gold: hsl(40, 39%, 61%); /*buttons and hover effect*/
       --rich-espresso:  	hsl(26, 40%, 39%); /*highlighted*/
       /*menu-card*/
       --warm-beige: hsl(35, 68%, 87%); /*light bg for dark layput*/


       

 

    /*transition*/
    --transition-1: all 0.3s ease 0s;

    /*border*/
    --border: .1rem solid rgba(255,255,255,.3);

    --weight-bold: 700;

    --letterSpacing-2: 0.4em;

    --fontSize-label-2: 1.2rem;

    --letterSpacing-1: 0.15em;
    --letterSpacing-2: 0.4em;
    --letterSpacing-3: 0.2em;
    --letterSpacing-4: 0.3em;
    --letterSpacing-5: 3px;

    --radius-circle: 50%;

    --transition-2: 500ms ease;

    --lineHeight-1: 1em;
    --lineHeight-6: 1.4em;

}

*{
    font-family:'Montserrat', sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--white);
    border-radius: 5rem;
}


.header{
    
    background-color: rgb(33, 66, 73);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    width: 100vw;
    z-index: 1000;
    top: 0;
    
    
    
}

.header .logo img{
    height: 8.5em;
    margin-left: -50px;
    
}


.header .navbar a{
    margin: 0 1rem;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    padding: 30px;
}



.header .navbar  a:hover{
    transition:all 0.3s ease 0s;
    color: var(--muted-gold);
    border-bottom: .1rem solid var(--muted-gold);
    padding-bottom: .5rem;

    
}

#cart-icon {
    position:relative;
    display:flex;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

#cart-icon .cart-item-count {
    position: absolute;
    top: 0;
    right: -6px;
    width: 20px;
    background-color: #e35f26;
    border-radius: 50%;
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}




.search-form{
    overflow: hidden;
    position: absolute;
    top: 115%;
    right: 0;
    background: white;
    width: max-content;
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    
}

.header .search-form .search-input{
    height: 100%;
    width:100%;
    font-size: 1.6rem;
    color: black;
    padding: 1rem;
    text-transform: none;
    margin: 200px;
    
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover{
    transition: all 0.3s ease 0s;
    color: var(--dark-jungle-green);
    right: 100%;

}

#cart-icon {
    position:relative;
    display:flex;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

#cart-icon .cart-item-count {
    position: absolute;
    top: 0;
    right: -6px;
    width: 20px;
    background-color: #e35f26;
    border-radius: 50%;
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}


.search-container{
    position: relative;  /* SUPER IMPORTANT */
    display: inline-block; /* Optional: keeps search compact */
    width: 250px;
    height: 40px;
    border-radius: 90px;
    padding:10px 20px;
    display: flex;
    align-items: center;
    transition:0.8s;
}

.search-container:hover input{
    width: 500px;
    background-color: white;
    cursor: pointer;

}
.search-container input{
    background: transparent;
    border: none;
    outline: none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;
    height: 5px;
}

#search-icon{
    color: white;
    font-size: 25px;
    margin-left: 6px;
}

.search-container input::placeholder {
    color: transparent; /* Hide placeholder text initially */
}

.search-container:hover input::placeholder {
    color: grey; /* Show placeholder text on hover */
}

 .suggestions {
    position: absolute;
    top: 100%; /* directly under the input */
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    display: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1); /* optional for style */
 }
 
 .suggestions li {
    padding: 10px;
    cursor: pointer;
 }
 
 .suggestions li:hover {
    background: #f2f2f2;
 }

.home{
    height: 100vh;
    min-height: 100px;
    display: flex;
    align-items: center;
    background-image:url(specials/pexels-mikhail-nilov-8093884.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    
    
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #F0F0F0 50%, #D9D9D9 50%);
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: sans-serif;
  }

.contact-section {
    padding: 50px 20px 100px;
    text-align: center;
}

.contact-header h1 {
        font-size: 75px;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 120px;
        font-family: "Playfair Display",serif;
        font-weight: 400;
        
        
}

.contact-header p {
    font-size: 18px;
        color: #555;
        line-height: 1.6;
        
        
}

.contact-form {
    background: #fff;
    padding: 30px;
    margin: 150px auto;
    border-radius: 8px;
    max-width: 800px;
    margin: 40px auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    
}

.error {
    color: red;
    font-size: 13px;
    margin-top: 4px;
    padding-left: 10px;
    display: block;
}

.input-group span {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    font-size: 16px;
}

.input-group span.label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    font-size: 16px;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}



.input-group input, textarea, input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 25px;
}

textarea {
    border-radius: 10px;
    resize: none;
    height: 120px;
}

#send-button {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #a43c3c;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 15px;
}

.contact-info {
    
    padding: 50px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #222;
    margin-top: -100px;

}

.contact-info h3 {
    margin-bottom: 10px;
    font-size: 24px;
}

.contact-info p {
    color: #555;
    font-size: 18px;
}

.highlight {
    color: #a43c3c;
    font-weight: bold;
}


.success-message {
    font-size: 2rem;
    color: green;
    background-color: #e6ffe6;
    border: 1px solid #4CAF50;
    padding: 15px 20px;
    margin: 20px 0;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}